{% extends 'base.html' %}
{% load static %}

{% block content %}


	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Category</a></li>
				<li class="active">{{ book.title }}</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
							{% for i in img %}

							<div class="product-view">
								<img src="{{ i.image.url }}" alt="" >
							</div>
                            {% endfor %}
						</div>
						<div id="product-view">
                            {% for i in img %}

							<div class="product-view" >
								<img src="{{ i.image.url }}" alt="">
							</div>
                            {% endfor %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-body">
							<div class="product-label">
								<span>New</span>
								<span class="sale">-20%</span>
							</div>

							<h2 class="product-name">{{ book.title }} </h2>
							<h3 class="product-price">${{ book.price2 }} <del class="product-old-price">${{ book.price }}</del></h3>
							<div>
								<div class="product-rating">
                                    <i class="fa fa-star{% if book.rating_avg < 0.5%}-o{% elif book.rating_avg >= 0.5 and book.rating_avg < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if book.rating_avg < 1.5%}-o{% elif book.rating_avg >= 1.5 and book.rating_avg < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if book.rating_avg < 2.5%}-o{% elif book.rating_avg >= 2.5 and book.rating_avg < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if book.rating_avg < 3.5%}-o{% elif book.rating_avg >= 3.5 and book.rating_avg < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if book.rating_avg < 4.5%}-o{% elif book.rating_avg >= 4.5 and book.rating_avg < 5 %}-half-o{% endif %}" aria-hidden="true"></i>

								</div>
								<a href="#">{{ comment.count }} Review(s) / Add Review</a>
							</div>
							<p><strong>Availability:</strong> In Stock</p>
							<p><strong>Brand:</strong> E-SHOP</p>
							<p>{{ book.description }}</p>
							<div class="product-options">
								<ul class="size-option">
									<li><span class="text-uppercase">Size:</span></li>
									<li class="active"><a href="#">S</a></li>
									<li><a href="#">XL</a></li>
									<li><a href="#">SL</a></li>
								</ul>
								<ul class="color-option">
									<li><span class="text-uppercase">Color:</span></li>
									<li class="active"><a href="#" style="background-color:#475984;"></a></li>
									<li><a href="#" style="background-color:#8A2454;"></a></li>
									<li><a href="#" style="background-color:#BF6989;"></a></li>
									<li><a href="#" style="background-color:#9A54D8;"></a></li>
								</ul>
							</div>

							<div class="product-btns">
								<div class="qty-input">
									<span class="text-uppercase">QTY: </span>
									<input class="input" type="number">
								</div>
								<a href = "{% url 'basket' book.slug %}"><button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button></a>
								<div class="pull-right">
									<a href="{% url 'liked' book.slug %}"><strong>{{ book.like }} </strong><button class="main-btn icon-btn"><i class="fa fa-heart"></i></button></a>
									<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
									<button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
								<li><a data-toggle="tab" href="#tab1">Details</a></li>
								<li><a data-toggle="tab" href="#tab2">Reviews ({{ comment.count  }})</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab1" class="tab-pane fade in active">
									<p>{{ book.description }}</p>
								</div>
								<div id="tab2" class="tab-pane fade in">

									<div class="row">
										<div class="col-md-6">
											<div class="product-reviews">

                                                {% for comman in comment %}

                                                <div class="single-review">
													<div class="review-heading">
														<div><a href="#"><i class="fa fa-user-o">{{ comman.user.username }}</i> </a></div>
														<div><a href="#">{{ comman.create_at }}<i class="fa fa-clock-o"></i></a></div>
														<div class="review-rating pull-right">
                                                            <i class="fa fa-star{% if comman.rating < 0.5%}-o{% elif comman.rating >= 0.5 and comman.rating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                                                            <i class="fa fa-star{% if comman.rating < 1.5%}-o{% elif comman.rating >= 1.5 and comman.rating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                                                            <i class="fa fa-star{% if comman.rating < 2.5%}-o{% elif comman.rating >= 2.5 and comman.rating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                                                            <i class="fa fa-star{% if comman.rating < 3.5%}-o{% elif comman.rating >= 3.5 and comman.rating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                                                            <i class="fa fa-star{% if comman.rating < 4.5%}-o{% elif comman.rating >= 4.5 and comman.rating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
														</div>
													</div>
													<div class="review-body">
														<p>{{ comman.content }}</p>
													</div>
												</div>

                                                {% endfor %}



												<ul class="reviews-pages">
													<li class="active">1</li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#"><i class="fa fa-caret-right"></i></a></li>
												</ul>
											</div>
										</div>

										<div class="col-md-6">
											<h4 class="text-uppercase">Write Your Review</h4>
											<p>Your email address will not be published.</p>
											<form class="review-form" method="post" id="addCommentForm" data-url="{% url 'book_detail' book.slug">
                                                {% csrf_token %}
												<div class="form-group">
                                                    <textarea class="input"  type="text" placeholder="Your Name" name="content"></textarea>
												</div>

												
												<div class="form-group">
													<div class="input-rating">
														<strong class="text-uppercase">Your Rating: </strong>
														<div class="stars">
															<input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
															<input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
															<input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
															<input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
															<input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
														</div>
													</div>
												</div>
												<button class="primary-btn" type="button" id="addComment">Submit</button>
											</form>
										</div>
									</div>



								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Picked For You</h2>
					</div>
				</div>
				<!-- section title -->

				<!-- Product Single -->
                {% for book in category_book %}

				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<div class="product-thumb">
							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
							<img src="{{ book.cover.url }}" alt="">
						</div>
						<div class="product-body">
							<h3 class="product-price">${{ book.price2 }}</h3>
							<div class="product-rating">
                                <i class="fa fa-star{% if rating < 0.5%}-o{% elif rating >= 0.5 and rating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if rating < 1.5%}-o{% elif rating >= 1.5 and rating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if rating < 2.5%}-o{% elif rating >= 2.5 and rating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if rating < 3.5%}-o{% elif rating >= 3.5 and rating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if rating < 4.5%}-o{% elif rating >= 4.5 and rating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                            </div>
							<h2 class="product-name"><a href="{% url 'detail' book.slug %}">{{ book.title }}</a></h2>
							<div class="product-btns">
								<a href="{% url 'liked' book.slug %}"><button class="main-btn icon-btn"><i class="fa fa-heart"></i></button></a>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<a href = '{% url 'basket' book.slug %}'><button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button></a>
							</div>
						</div>
					</div>
				</div>

                {% endfor %}
				<!-- /Product Single -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- <script {% static "js.comment.js" %}></script> -->

	<script type="te">

	</script>

{% endblock content %}